<!DOCTYPE html>
<html>
  <%- include('../include/_head', {title: ''}) %>
  <body>
    <a href="/posts/new">작성하기</a>
    <table border="1" width="100%">
      <tr>
        <th width="30">id</th>
        <th width="500">제목</th>
        <th width="150">작성자</th>
        <th width="150">작성일자</th>
      </tr>
      <% posts.forEach(function (post, _) { %> <% if(post.status == 0){ %>
      <tr>
        <td><%= post.id %></td>
        <td style="padding: 4px; <%= 'padding-left: ' +(4 +((post.depth) * 10)) + 'px' %>">
          <%= post.depth > 0 ? "┌" : "" %>
          <a href="/posts/<%= post.id%>">
            <%= post.title %><%= post.file_count > 0 ? "(첨부)":"" %>
          </a>
        </td>
        <td><%= post.writer %></td>
        <td><%= post.created_at %></td>
      </tr>
      <% } else { %>
      <tr>
        <td><%= post.id %></td>
        <td style="<%= 'padding-left: ' +((post.depth) * 10) + 'px' %>">
          <%= post.depth > 0 ? "┌" : "" %> 삭제된 게시글입니다.
        </td>
        <td><%= post.writer %></td>
        <td><%= post.created_at %></td>
      </tr>
      <% }}); %>
    </table>

    <div style="text-align: center">
      <% if(pagination.firstPage) { %>
      <a href="/posts?page=<%= pagination.firstPage %>" style="margin: 20px;"><<</a>
      <% }%> <% if(pagination.prevPage) { %>
      <a href="/posts?page=<%= pagination.prevPage %>" style="margin: 20px;"><</a>
      <% }%>
      <a href="#" style="margin: 20px;"><%= pagination.page %></a>
      <% if(pagination.nextPage) { %>
      <a href="/posts?page=<%= pagination.nextPage %>" style="margin: 20px;">></a>
      <% }%> <% if(pagination.lastPage) { %>
      <a href="/posts?page=<%= pagination.lastPage %>" style="margin: 20px;">>></a>
      <% }%>
    </div>
  </body>
</html>
