<!DOCTYPE html>
<html>
  <%- include('../include/_head', {title: ''}) %>
  <body>
    <a href="/posts">리스트로 돌아가기</a>
    <table border="1" width="100%">
      <tr>
        <td>작성자: <%= post.writer %></td>
        <td>조회수: <%= post.hit_count %></td>
      </tr>
      <tr>
        <td width="500">
          <%= post.id %>. <%= post.title %>
        </td>
        <td>
          <%= post.created_at %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div style="min-height: 200px;">
            <%= post.body %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <% postFiles.forEach(function (file, a) { %>
          <div>・<a href="/<%=file.path%>"><%= file.original_name %></a></div>
          <% }) %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <a href="/posts/<%= post.id %>/edit">수정하기</a>
          <a href="/posts/<%= post.id %>/delete">삭제하기</a>
          <a href="/posts/<%= post.id %>/reply">답글달기</a>
        </td>
      </tr>
    </table>

    <div>
      <h1>코멘트</h1>
      <% comments.forEach(function (comment, _) { %> <% if(comment.status == 1) { %>
      <div style="word-break: break-all; border-left: 2px solid #ccc; padding: 5px;">
        id: <%= comment.id %> <%= comment.created_at %><br />
        작성자: <%= comment.writer %> <br />
        <%= comment.updated_at %>에 삭제된 코멘트입니다.
      </div>
      <% } else { %>
      <div style="word-break: break-all; border-left: 2px solid #ccc; padding: 5px;">
        id: <%= comment.id %> <%= comment.created_at %>
        <a href="/comments/<%= comment.id %>/edit">수정</a> /
        <a href="/comments/<%= comment.id %>/delete">삭제</a><br />
        작성자: <%= comment.writer %><br />
        <div style="white-space: pre-wrap;"><%= comment.body %></div>
      </div>
      <% } %>
      <br />
      <% }); %>
      <form method="post" action="/posts/<%= post.id%>/comments">
        <div>
          <label for="body">코멘트 작성</label><br />
          <textarea name="body" required="true"></textarea>
        </div>
        <div>
          <label for="writer">작성자</label><br />
          <input type="text" id="writer" name="writer" required="true" /><br />
          <label for="password">비밀번호</label><br />
          <input type="password" id="password" name="password" required="true" />
        </div>
        <div>
          <input type="submit" value="작성"" />
        </div>
      </form>
    </div>
  </body>
</html>
